.background {
  background-image: url(../assets/bg2.png);
  height: 100vh;
  width: 100vw;
  left: 10vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-container {
  margin-left: 20vw;
}