.chat-container {
    display:flex;
    flex-direction: column;
    padding: 5px;
    height: 60%;

    overflow-y: scroll;
}

.bubble {
    padding: 8px;
    width: fit-content;

    border-radius: 10px;
    border-top-left-radius: 0;
    background-color: palegoldenrod;
}

.message-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.my-message-container {
    align-items: flex-end;
}

.my-bubble {
    text-align: right;

    border-radius: 10px;
    border-top-right-radius: 0;
    background-color: powderblue;
}

