.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;

    height: 100vh;
    
    background-color: white;
    overflow-y: hidden;
}

.avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 40vh;
    width: auto;
}

.todo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox {
    margin: 5px;
}