.button {
    background: rgba(143, 143, 143, 0.75);
    
    border: none;
    border-radius: 5%;

    min-width: 6rem;
    height: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.noUi {
    background-color: transparent;
    border: none;
}